body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #333;
}

/* Encabezado */
header {
    background-color: pink;
    color: black;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* Sección de productos */
#productos {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1.5rem;
    
}

.producto {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
}

.producto h3 {
    margin: 0.5rem 0;
    color: #333;
}

.producto p {
    color: #666;
}

.producto button {
    background-color: pink;
    color:black;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.producto button:hover {
    background-color: #45a049;
}

/* Sección del carrito de compras */
#carrito {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 0.75rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: pink;
    color: black;
}

td button {
    background-color: #e74c3c;
    color: #fff;
    padding: 0.4rem 0.6rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

td button:hover {
    background-color: #c0392b;
}

#totalCarrito {
    font-weight: bold;
    color: #333;
}

button#vaciarCarrito {
    background-color: #e74c3c;
    color: #fff;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 1rem auto;
}

button#vaciarCarrito:hover {
    background-color: pink;
}

@media (max-width: 480px) {
    .producto {
        flex: 0 1 calc(100% - 2rem); /* Cada producto ocupa el 100% del ancho */
    }
}

/* Estilos para tabletas */
@media (min-width: 481px) and (max-width: 768px) {
    .producto {
        flex: 0 1 calc(50% - 2rem); /* Cada producto ocupa el 50% del ancho */
    }
}

/* Estilos para laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .producto {
        flex: 0 1 calc(33.33% - 2rem); /* Cada producto ocupa el 33.33% del ancho */
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {
    .producto {
        flex: 0 1 calc(25% - 2rem); /* Cada producto ocupa el 25% del ancho */
    }
}